
#title {
  text-align: center;
  border: 2px solid #e3c91b;
  border-radius: 15px;
  color: #e3c91b;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;

}

#gameMessageDraw{
  text-align: center;
  position: inherit;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  display: none;
  top: 30%;
  text-align: center;
  /*border: 1px solid black;*/

}

#gameMessageX{
  text-align: center;
  position: inherit;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  display: none;
  top: 30%;
  text-align: center;
  /*border: 1px solid black;*/

}

#gameMessageO{
  top: 30%;
  text-align: center;
  /*border: 1px solid black;*/
  text-align: center;
  position: inherit;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  display: none;

}


body{
  background-color: rgb(25, 24, 27);
}

footer{
  background-color: #e3c91b;
  position: relative;
  margin: 0 auto;
  top: 80%;
  height: 80px;
  border-radius: 15px;
  width: 65%;

}

body, .container{
  position: absolute;
  top: 10%;
  left: 12%;
  width: 75%;
  height: 75%;

}

.container {
  display: flex;
  background-color: black;
  border-radius: 15px;
  flex-direction: column;
  margin: 0 auto;
  border: 2px solid black;
  font-size: 38px;

}

/*.row1, .row2, .row3{
  background-color: #e5e5e5;
  flex: 5;
  display: flex;
  flex-direction: row;
}*/

.row{
  background-color: black #e3c91b;
  border-radius: 15px;
  flex: 5;
  display: flex;
  flex-direction: row;
}


.square {
  background-color: #e3c91b;
  border-radius: 15px;
  flex: 4;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-flow: column wrap;
  border: 2px solid black;
  font-family: 'Quicksand', sans-serif;


}
